[submodule "functionAnalyzer"]
	path = functionAnalyzer
	url = https://github.com/giuseppe-aiello/functionAnalyzer.git
	branch = main
	update = rebase
[submodule "functionAnalyzer/"]
	branch = main
[submodule "/functionAnalyzer"]
	branch = main
